@keyframes changeTextColor {
    0% {color: red;}
    50% {color: blue;}
    100% {color: red;}
}

body, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: lightgray;
}

h1 {
    font-size: 40px;
    animation-name: changeTextColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;    
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 20px;
}

.btn {
    border: solid black;
    padding: 5px;
    border-radius: 20px;
    background-color: lime;
}

.btn:hover {
    background-color: lightgreen;
}

.intro {
    text-align: center;
    border-bottom: dashed;
}

.section {
    margin-left: 24px;
}