@keyframes changeTextColor {
    0% {color: red;}
    50% {color: blue;}
    100% {color: red;}
}

body, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: lightgray;
}

h1 {
    font-size: 40px;
    animation-name: changeTextColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;    
}

.clickpic {
	width: 200px;
	height: 200px;
    margin-left: 20px;
    margin-top: 10px;
	float: left;
}

.clickpic img {
	width: inherit;
	height: inherit;
	position: absolute;
}

.info {
	width: inherit;
	height: inherit;
}

.info p {
    background-color: rgba(69, 82, 71, 0);
	margin: 0px;
	opacity: 0;
	transition: opacity 1s, background-color 1s;
	position: absolute;
	display: block;
	color: white;
	width: inherit;
	height: inherit;
}

.info p:hover {
    background-color: rgba(69, 82, 71, .75);
	opacity: 1;
}

.section {
	display: block;
    margin-left: 24px;
}

.section h3 {
	display: inline;
	padding-right: 60px;
	border-bottom: solid 2px;
}

.section li {
	display: inline;
}